body {
    background-color: whitesmoke;
}

.main {
    background: green;
    height: 300px;
    width: 300px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;

}

.box {
    background : yellow;
    height: 100px;
    width: 100px;
    border: 1px solid rgb(255, 1, 1);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}